<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exc.Properties.Settings.Laundry_dbConnectionString"
            connectionString="Data Source=LAPTOP-QV6VCGET\NANDA;Initial Catalog=Laundry_db;Persist Security Info=True;User ID=sa;Password=1juli2003"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>